<!-- views/home.handlebars -->
{{#if user}}
  <!-- Page Content -->
  <div class="container" id="feed">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8" id="post" style="padding-top: 0px;">

        <script>
          var bodyText = "";
          document.addEventListener('DOMContentLoaded', function() {
            const renderPost = (body, post) => {
              const section = document.createElement('section');
              var domString = `
                <!-- Title -->
                <h4 class="mt-4" style="padding-top: 10px">
                  <img class="img-fluid rounded-circle" src=${post.user.profilepic} alt="" style="width:64px;height:64px;">
                  ${post.user.username}
                </h4>

                <hr>

                <div class="row">
                  <div class="col-sm-4">
                      <img class="img-fluid rounded" src="${post.weed.pictureUrl}" alt="" style="padding: 5px;">
                  </div>
                  <div class="col-sm-8" style="padding-top: 10px;">
                    <!--<div class="col">Name: ${post.name}</div>-->
                    <div class="col">Weed: ${post.weed.name}</div>
                    <div class="col">Strain: ${post.weed.strain}</div>
                    <div class="col">THC: ${post.weed.thc}%</div>
                    <div class="col">CBD: ${post.weed.cbd}</div>
                    <div class="col">Company: ${post.weed.company}</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">Tags:</div>
                  <div class="col">PostID:</div>
                  <div class="col">Date:</div>

                </div>

                <hr>

                <!-- Post Content -->
                <div>
                  ${post.content}
                </div>

                <hr>
                `;
              $('#post').append(domString);
              body.appendChild(section);
            };
            const fetchAndRender = async () => {
              const promisePosts = await fetch("/posts");
              console.log(promisePosts);
              const posts = await promisePosts.json();
              const body = document.body;
              posts.map((post, index) => {
                if (posts[index]) {
                  renderPost(body, post);
                }
              });
            };
            fetchAndRender();
          });
        </script>
      </div>


      <!-- Sidebar Widgets Column -->
      <div class="col-md-4" style="padding-top: 20px">

        <!-- Submit Post Widget -->
        <div id="submit" class="btn-block" role="group" aria-label="Basic example">
          <button class="btn btn-secondary btn-block" id="sub-btn" onclick="location.href='/submit'">New Post</button>
        </div>

        <!-- Side Widget -->
        <div class="card my-4" id="user-widget">
          <h4 class="card-header">
            <img class="img-fluid rounded-circle" src="{{user.profilepic}}" style="width:64px;height:64px;" alt="">
            {{user.username}}
          </h4>

          <div class="container">
            <div class="row">
              <div class="col-4">Email:</div>
              <div class="col-8">{{user.email}}</div>
            </div>
            <div class="row">
              <div class="col-4">Bio:</div>
              <div class="col-8">{{user.bio}}</div>
            </div>
            <div class="row">
              <div class="col-4">Join Date:</div>
              <div class="col-8">{{user.createdAt}}</div>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4" id="categories">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="category.html">Weed</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Company</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Tags</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{{else}}
  <div class='container2'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Log In</div>
        <div class='subtitle'></div>
        <div class='input-fields'>
          <input type='email' placeholder='Email' class='input-line full-width'></input>
          <input type='password' placeholder='Password' class='input-line full-width'></input>

        </div>
        <div class='spacing'>or log in with <span class='highlight'><br><a class="no-colour" href="/auth/google/callback">Google</a></span></div>
        <div><button class='ghost-round full-width'>Log In</button></div>
        <div style="text-align: center;"><a href="/signin">Sign Up?</a></div>
      </div>
    </div>
  </div>

{{/if}}
